book/*
**/.*.sw*


#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk
cargo.lock
images/*
src/*.rs

#Added by cargo
#
#already existing elements were commented out

#/target
